<div class="<%= itemclass %>">
    <img src="<%= img_src %>" alt="contact options" />
    <h1><%= header %></h1>
    <p><%= text %></p>
    <button><a href="<%= link %>">Visit</a></button>
</div>